body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    box-sizing: border-box;
    height: 40px;
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
}

header > img {
    vertical-align: middle;
}

.sport-banner {
    padding: 16px;
    background: #ffdf43;
}

svg {
    height: 30px;
}

footer {
    padding: 32px 16px;
    clear: both;
    background: #333;
    color: white;
}

a {
    font-weight: bold;
}

.news-list {
    margin: 0;
    padding: 16px;
}

.news-list li {
    display: block;
    float: left;
    padding: 0 16px 16px 0;
    width: 237px;
}

.news-list img {
    width: 100%;
}